.main-footer {
    color: black ;
    background-color: #6B240C;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
    
}

.row {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: space-between;
}

h2 {
    font-size: clamp(1rem, 3vw, 2rem);
    margin-left: 10px;
}
h2 {
    text-decoration: none;
    color: black;
}
h2:hover{
    cursor:pointer;
}

.participants {
    list-style: none;
}

.col-3 {
    margin-left: 15px;
}

.social-media {
    display: flex;
    list-style: none;
    padding: 18px;
    justify-content: space-around;
}

ion-icon {
    font-size: 32px;
}

ion-icon:hover {
    color: white;
}

/* Media Query for screens smaller than 768px */
@media (max-width: 1000px) {
    .col-3 {
        margin-left: 0; /* Adjust margin for smaller screens */
    }
    .main-footer{
        display: inline-block;
    }

    .social-media {
        width: 100%;
        flex-direction: column; /* Stack social media icons vertically */
        align-items: center; /* Center items in the column */
    }
}
