.banner-container {
    position: relative;
    display: flex;
    padding-top: 1.5rem;
    background-color:#E48F45;
  }
  
.home-image-section {
    margin:0;
    max-width: 400px;
    align-items:left;
    flex: 1;
  }
.home-text-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10px;
  }
.primary-heading {
    font-size: clamp(1rem, 4vw, 3rem);
    /* line-height: 5rem; */
    max-width: 500px;
}
.primary-text {
    font-size: clamp(1rem, 3vw, 1.5rem);
    max-width: 400px;
}
.hero-button {
  padding: 1rem 2.5rem;
  background-color: #fe9e0d;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-button:hover {
  background-color: #e48f0f;
}