.nav{
    background-color:#E48F45;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 5px;
}
.logo{
    font-size: 42px;
    font-weight:bolder;
}
.nav-menu{
    display:flex;
    align-items:center;
    list-style:none;
    font-size:25px;
    gap:70px;
}
@media (max-width: 1000px) {
    .nav-menu {
      margin-right: 1rem;
      font-size: 1rem;
    }
} 