.nav{
    display: flex;
    background-color:pink;
    align-items: center;
    justify-content: space-between;
    margin: 10px 20px;
}
.logo{
    font-size: 42px;
    font-weight:bolder;
}
.nav-menu{
    display:flex;
    align-items:center;
    list-style:none;
    font-size:18px;
    gap:70px;
}