.nav{
    background-color:#E48F45;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 5px;
}
.logo{
    font-size: 42px;
    font-weight:bolder;
}
.nav-menu{
    display:flex;
    width: 100%;
    list-style:none;
    justify-content: flex-end;
    margin-right:25px;
    font-size:25px;
    gap:65px;
}
.nav-menu li {
    color: black;
}
.nav-menu li:hover{
    cursor:pointer;
}
@media (max-width: 1000px) {
    .logo{
        font-size: 8vw;
    }
    .nav-menu {
      gap:10px;
      font-size:4vw;
     
    }
} 