
.slide{
    font-size: 18px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1rem;
    margin-left:10px;
    background-color: white;
}
.slide img{
    width: 90%;
    height:80%;
    object-fit:cover;
    border-radius:15px;
}
.slide h2{
    margin-bottom: 2rem;
}
.slide>div{
    padding: 2rem;
}
.slide:nth-child(even) img{
    order: 2;
}
@media(max-width:1000px){
    .slide{
        display: block;
        width: 100%;
    }
}