
.slide{
    font-size: 18px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    margin-bottom: 1rem;
    margin-left:10px;
}
.slide img{
    width: 100%;
    height:80%;
    object-fit:cover;
}
.slide h2{
    margin-bottom: 2rem;
}
.slide>div{
    padding: 2rem;
}
.slide:nth-child(even) img{
    order: 2;
}